html, body {
  height: 100%;
}

body {
  background-color: #f7f7f7;
  font-size: 18px;
}

#root {
  height: 100%;
}

.wrapper {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
}

.container {
  height: inherit;
  display: flex;
  flex-direction: column;
}
