.message-container {
  flex: 1 0 auto;
  border: 2px solid #a7a7a7;
  margin-bottom: 10px;
  background-color: white;
  overflow: auto;
  outline: none;

  & > .message-group {
    overflow: auto !important;

    display: flex;
    flex-direction: column;
  }
}
